In [1]:
import duckdb

DB_PATH = "assets/rookies.duckdb"
monitor_con = duckdb.connect(DB_PATH, read_only=True)

IOException: IO Error: Cannot open file "c:\users\mehan\documents\basketball\rookie-class-analysis\assets\rookies.duckdb": The process cannot access the file because it is being used by another process.

File is already open in
C:\Python313\python.exe (PID 7416)

In [2]:
monitor_con.execute("""
SELECT COUNT(*) AS total_games FROM rookie_games;
""").fetchall()

[(0,)]

In [3]:
monitor_con.execute("""
SELECT player_id, rookie_season, COUNT(*) AS games
FROM rookie_games
GROUP BY 1,2
ORDER BY rookie_season DESC, games DESC
LIMIT 10;
""").fetchdf()

Empty DataFrame
Columns: [player_id, rookie_season, games]
Index: []

In [4]:
monitor_con.execute("""
SELECT player_id, rookie_season, COUNT(*) AS games
FROM rookie_games
GROUP BY 1,2
ORDER BY rookie_season DESC, games DESC
LIMIT 10;
""").fetchdf()

Empty DataFrame
Columns: [player_id, rookie_season, games]
Index: []